@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

/* DEMO SITE ELEMENTS */

:root {
  --text-color: #171738;
  --primary-color: #3423A6;
  --secondary-color: #7768DF;
  --bg-color: rgba(0, 0, 0, 0.03);
  --border-color: rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  max-width: 100vw;
  font-family: 'Open Sans', sans-serif;
}

body > * {
  box-sizing: border-box;
  color: var(--text-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

.text-link {
  font-weight: 500;
}

.text-link:hover {
  text-decoration: underline;
}

header {
  color: var(--secondary-color);
  border-bottom: 1px solid black;
  max-width: 100vw;
  height: 70px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 1.4rem;
  font-weight: 700;
}

.header-links {
  font-size: 1.125rem;
  font-weight: 500;
  gap: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.attribution {
  margin-top: 0;
}

footer {
  color: var(--primary-color);
  background-color: var(--bg-color);
  height: 55px;
  display: flex;
  justify-content: center;
}

footer a {
  color: var(--primary-color);
}

footer a:hover {
  text-decoration: underline;
}

/* MAIN */

main {
  min-height: calc(100vh - 125px);
  width: clamp(0rem, 90vw, 65rem);
  margin: 0 auto;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: min(2.5rem, 9vw);
}

.overview p {
  font-size: 1.1rem;
  margin-top: 0;
}

section:not(:first-child) {
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.75rem;
}

.dropdown-container {
  display: flex;
  gap: 2rem;
}

.mobile-menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 2rem;
}

.mobile-screen {
  background-color: #F0EEFB;
  border: 4px solid rgb(0 0 0 / 0.3);
  border-radius: 1rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  aspect-ratio: 9 / 15;
  overflow: hidden;
  display: grid;
}

.mobile-main {
  background-color: var(--primary-color);
  opacity: 0.05;
}

/* 1) DROP-DOWN MENU */

:root {
  --dropdown-btn-color: white;
  --dropdown-btn-bg-color: var(--primary-color);
  --dropdown-menu-bg-color: white;
  --dropdown-menu-border: 1px solid var(--border-color);
  --dropdown-font-size: 1.1rem;
  --dropdown-border-rad: 0.25rem;
  --dropdown-btn-pad: 0.75rem 1rem;
  --dropdown-menu-pad: 0.25rem 0;
  --dropdown-item-pad: 0.25rem 1rem;
}

.btn-dropdown {
  color: var(--dropdown-btn-color);
  background-color: var(--dropdown-btn-bg-color);
  cursor: pointer;
  font-size: var(--dropdown-font-size);
  border: none;
  border-radius: var(--dropdown-border-rad);
  padding: var(--dropdown-btn-pad);
}

.dropdown-menu {
  list-style: none;
  opacity: 0;
  background-color: var(--dropdown-menu-bg-color);
  border: var(--dropdown-menu-border);
  border-radius: var(--dropdown-border-rad);
  min-width: 10rem;
  height: 0;
  position: absolute;
  z-index: 1000;
  overflow: hidden;
}

.dropdown-menu.show {
  transition: opacity 0.5s ease-out;
  opacity: 1;
  height: auto;
  padding: var(--dropdown-menu-pad);
}

ul {
  margin: 0;
}

.dropdown-item {
  color: var(--text-color);
  padding: var(--dropdown-item-pad);
  display: block;
}

.dropdown-item:hover {
  background-color: var(--bg-color);
}

/* 2) MOBILE MENU */

:root {
  --nav-color: white;
  --nav-bg-color: var(--primary-color);
  --nav-border: none;
  --nav-height: 5rem;
  --nav-font-size: 1.5rem;
  --nav-pad-x: 1.5rem;
  --nav-link-font-size: 1.35rem;
  --nav-link-pad-y: 1rem;
  --nav-link-gap: 0.5rem;
  --navmenu-bg-color: var(--secondary-color);
  --navmenu-open: all 0.35s ease;
  --navmenu-close: all 0.2s ease;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.navbar-top {
  color: var(--nav-color);
  background-color: var(--nav-bg-color);
  border-bottom: var(--nav-border-color);
  font-size: var(--nav-font-size);
  height: var(--nav-height);
  width: calc(100% - (var(--nav-pad-x) * 2));
  padding: 0 var(--nav-pad-x);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  color: var(--nav-color);
}

.navbar-title:hover {
  color: var(--nav-color);
  opacity: 0.8;
}

.navbar-btn {
  cursor: pointer;
  color: var(--nav-color);
  background: none;
  font-size: var(--nav-font-size);
  border: none;
  justify-self: end;
}

.navbar-menu {
  background-color: var(--navmenu-bg-color);
  font-size: var(--nav-link-font-size);
  display: flex;
  flex-direction: column;
}

.navbar-link {
  color: var(--nav-color);
  padding: var(--nav-link-pad-y) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--nav-link-gap);
}

.navbar-link:hover {
  background-color: var(--nav-color);
}

@media screen and (min-width: 768px) {
  #navbar { /* .navbar */
    background-color: var(--nav-bg-color);
    padding: 0 var(--nav-pad-x);
    flex-direction: row;
    justify-content: space-between;
  }

  #navbar-top {
    width: auto;
    padding: 0;
  }

  #navbar-btn { /* .navbar-btn */
    display: none;
  }

  #navbar-menu { /* .navbar-menu */
    background-color: transparent;
    padding: 0;
    max-height: var(--nav-height);
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
    z-index: 1;
    opacity: 1;
    width:auto;
  }

  #navbar-menu > *:hover { /* .navbar-menu */
    color: var(--nav-color);
    background-color: var(--nav-bg-color);
    opacity: 0.8;
  }

  #navbar-menu.close, #navbar-menu.show {
    transition: none;
  }
}

/* fix resizing bug */
@media screen and (min-width: 750px) {
  #navbar-menu.close, #navbar-menu.show {
    transition: none;
  }
}

/* Expand Menu */

.menu-expand {
  width: 100%;
  padding: var(--nav-link-gap) 0;
}

.menu-expand.close {
  z-index: -1;
  opacity: 0;
  max-height: 0;
  transition: var(--navmenu-close);
}

.menu-expand.show {
  opacity: 1;
  max-height: 100%;
  transition: var(--navmenu-open);
}

/* Side Drawer */

:root {
  --drawer-width: 75%;
  --drawer-left: -75%;
  --drawer-btn-pad: 1.5rem;
}

.menu-side {
  position: absolute; /* fixed */
  top: 0;
  bottom: 0;
  width: var(--drawer-width);
  height: 100%;
}

.menu-side.close {
  left: var(--drawer-left);
  opacity: 0;
  transition: var(--navmenu-close);
}

.menu-side.show {
  left: 0;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.50);
  opacity: 1;
  transition: var(--navmenu-open);
  height: auto;
  z-index: 999;
}

.menu-close-wrapper {
  height: var(--nav-height);
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.menu-close {
  color: var(--nav-color);
  background: none;
  font-size: var(--nav-font-size);
  border: none;
  padding-right: var(--drawer-btn-pad);
  cursor: pointer;
}

/* Navbar Tabs */

:root {
  --nav-tab-bg-color: var(--primary-color);
  --navtab-font-size: 1rem;
}

.navbar-tabs {
  background-color: var(--nav-tab-bg-color);
  height: var(--nav-height);
  flex-direction: row;
  justify-content: space-evenly;
}

.navtab-link {
  color: var(--nav-color);
  font-size: var(--navtab-font-size);
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--nav-height) / 30);
}

/* two tabs */
.navtab-link:first-child:nth-last-child(2),
.navtab-link:first-child:nth-last-child(2) ~ .navtab-link {
    width: 50%;
}
/* three tabs */
.navtab-link:first-child:nth-last-child(3),
.navtab-link:first-child:nth-last-child(3) ~ .navtab-link {
    width: 33.3333%;
}
/* four tabs */
.navtab-link:first-child:nth-last-child(4),
.navtab-link:first-child:nth-last-child(4) ~ .navtab-link {
    width: 25%;
}
/* four tabs */
.navtab-link:first-child:nth-last-child(5),
.navtab-link:first-child:nth-last-child(5) ~ .navtab-link {
    width: 20%;
}

.navtab-link:hover {
  color: var(--nav-color);
  opacity: 0.8;
}

.navtab-link.active-tab::after {
  content: '';
  background-color: var(--nav-color);
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.navtab-icon {
  font-size: calc(var(--navtab-font-size) * 1.5);
}

/* 3) IMAGE SLIDER */

:root {
  --carousel-height: auto;
  --nav-arrow-color: white;
  --nav-arrow-size: 3rem;
  --nav-arrow-pad: 1rem;
  --dot-div-height: 3rem;
  --dot-size: 15px;
  --dot-color: lightgray;
  --dot-active-color: var(--primary-color);
}

.slideshow-container {
  overflow: hidden;
  position: relative;
}

.img-slide {
  display: none;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.img-slide.active {
  display: block;
}

.img-slide img {
  width: 100%;
  height: var(--carousel-height);
  object-fit: cover;
}

.nav-arrow {
  color: var(--nav-arrow-color);
  font-size: var(--nav-arrow-size);
  width: auto;
  padding: 0 var(--nav-arrow-pad);
  position: absolute;
  top: calc(50% - (var(--nav-arrow-size) / 2));
  cursor: pointer;
  transition: 0.6s ease;
}

.nav-arrow-right {
  right: 0;
}

.nav-dots {
  height: var(--dot-div-height);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--dot-size) / 1.5);
}

.dot {
  cursor: pointer;
  height: var(--dot-size);
  width: var(--dot-size);
  border-radius: 50%;
  background-color: var(--dot-color);
}

.dot.active, .dot:hover {
  background-color: var(--dot-active-color);
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Site Mobile Queries */

@media screen and (max-width: 480px) {
  h2 {
    font-size: 1.6rem;
  }
}